@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');

body {
  font-family: 'Nanum Myeongjo', serif;
}

h1 {
  font-size: 25px;
  font-weight: 700;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

.canvas {
  pointer-events: none;
  position: absolute !important;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}
